---
import LayoutReact from '../components/Layout/Layout.jsx';
import '../index.css';

interface Props {
  title?: string;
}

const { title = "HTL Aircon" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <LayoutReact client:load>
      <slot />
    </LayoutReact>
  </body>
</html>
